<!DOCTYPE html>
<html>
<head>
    <title>OnlineShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>

                <a href="{{ url_for('register') }}"><button class="sign_up_btn">Sign Up</button></a>
            </div>
        </nav>
    </header>

    <!-- ... other HTML code ... -->

    <section class="About Us">
        <div class="au_header">
            <h1>About Us</h1>
        </div>
        <div class="au_content">
            <div class="au_first_sec">
                <img src="{{ url_for('static', filename='img/img1.jpg') }}" >
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, maxime, repudiandae voluptates debitis perferendis aliquam, sint explicabo alias est quae unde! Labore in beatae magni quidem. Labore culpa vel quidem?
                    Quia magni nostrum vero rerum maxime dolor voluptas possimus, ad, autem, quidem soluta sed! Distinctio quaerat tempore earum fugit fuga quo, magnam optio expedita laudantium animi eos est asperiores repellat.
                    Asperiores fugit iste quasi, enim explicabo expedita! Illum fugit reprehenderit quia amet nesciunt quaerat velit explicabo dignissimos ipsam error. Voluptate debitis consectetur doloribus reiciendis possimus odio quaerat dolorum ad? Nostrum.
                    Ab mollitia dicta ipsam quis, necessitatibus qui tempora, expedita architecto delectus earum perspiciatis. Velit, reprehenderit molestias! Sit veritatis deleniti enim dolore asperiores odit, molestiae obcaecati, rem similique possimus eaque ad?
                    Hic aspernatur quisquam recusandae doloremque accusamus iste reprehenderit similique. Sint, reprehenderit perspiciatis? Voluptatum consectetur voluptate hic reiciendis ratione sapiente, molestiae non repellat optio voluptatem tempore temporibus dolorum ipsum perferendis odit?
                </p>
            </div>
            <div class="au_second_sec">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, maxime, repudiandae voluptates debitis perferendis aliquam, sint explicabo alias est quae unde! Labore in beatae magni quidem. Labore culpa vel quidem?
                    Quia magni nostrum vero rerum maxime dolor voluptas possimus, ad, autem, quidem soluta sed! Distinctio quaerat tempore earum fugit fuga quo, magnam optio expedita laudantium animi eos est asperiores repellat.
                    Asperiores fugit iste quasi, enim explicabo expedita! Illum fugit reprehenderit quia amet nesciunt quaerat velit explicabo dignissimos ipsam error. Voluptate debitis consectetur doloribus reiciendis possimus odio quaerat dolorum ad? Nostrum.
                    Ab mollitia dicta ipsam quis, necessitatibus qui tempora, expedita architecto delectus earum perspiciatis. Velit, reprehenderit molestias! Sit veritatis deleniti enim dolore asperiores odit, molestiae obcaecati, rem similique possimus eaque ad?
                    Hic aspernatur quisquam recusandae doloremque accusamus iste reprehenderit similique. Sint, reprehenderit perspiciatis? Voluptatum consectetur voluptate hic reiciendis ratione sapiente, molestiae non repellat optio voluptatem tempore temporibus dolorum ipsum perferendis odit?
                </p>
                <img src="{{ url_for('static', filename='img/img2.jpg') }}" >
            </div>
        </div>
        
    </section>

</section>



    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
