<!DOCTYPE html>
<html>
<head>
    <title>OnlineShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>

                <a href="{{ url_for('register') }}"><button class="sign_up_btn">Sign Up</button></a>
            </div>
        </nav>
    </header>

    <!-- ... other HTML code ... -->

    <section class="About Us">
      
        <div class="container">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-main">
                <div class="faq-item">
                    <div class="faq-label">Ut inventore dolorem hic tenetur accusamus<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Ut aliquid adipisci et placeat labore et tenetur voluptate<i></i></div>
                    <div class="faq-cont">
                        <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Et molestias quae est consequatur quos et eligendi iusto<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Ut inventore dolorem hic tenetur accusamus<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">The most used version of Lorem Ipsum<i></i></div>
                    <div class="faq-cont">
                        <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                        <p>The Lorem ipum filling text is used by graphic designers, programmers and printers with the aim of occupying the spaces of a website, an advertising product or an editorial production whose final text is not yet ready.
                        This expedient serves to get an idea of the finished product that will soon be printed or disseminated via digital channels.</p>
                        <p>
                        In order to have a result that is more in keeping with the final result, the graphic designers, designers or typographers report the Lorem ipsum text in respect of two fundamental aspects, namely readability and editorial requirements.</p>
                        <p>The choice of font and font size with which Lorem ipsum is reproduced answers to specific needs that go beyond the simple and simple filling of spaces dedicated to accepting real texts and allowing to have hands an advertising/publishing product, both web and paper, true to reality.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Why do you use<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Ut inventore dolorem hic tenetur accusamus<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Ut aliquid adipisci et placeat labore et tenetur voluptate<i></i></div>
                    <div class="faq-cont">
                        <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Et molestias quae est consequatur quos et eligendi iusto<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Ut inventore dolorem hic tenetur accusamus<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">The most used version of Lorem Ipsum<i></i></div>
                    <div class="faq-cont">
                        <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                        <p>The Lorem ipum filling text is used by graphic designers, programmers and printers with the aim of occupying the spaces of a website, an advertising product or an editorial production whose final text is not yet ready.
                        This expedient serves to get an idea of the finished product that will soon be printed or disseminated via digital channels.</p>
                        <p>
                        In order to have a result that is more in keeping with the final result, the graphic designers, designers or typographers report the Lorem ipsum text in respect of two fundamental aspects, namely readability and editorial requirements.</p>
                        <p>The choice of font and font size with which Lorem ipsum is reproduced answers to specific needs that go beyond the simple and simple filling of spaces dedicated to accepting real texts and allowing to have hands an advertising/publishing product, both web and paper, true to reality.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-label">Why do you use<i></i></div>
                    <div class="faq-cont">
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                        <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

</section>



    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
<script>
    let items = document.querySelectorAll(".faq-main .faq-item .faq-label");
items.forEach(function (t) {
	t.addEventListener("click", function (e) {
		items.forEach(function (e) {
			e !== t || e.classList.contains("faq-item-show")
				? e.classList.remove("faq-item-show")
				: e.classList.add("faq-item-show");
		});
	});
});
</script>
</html>
